@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
    scroll-behavior: smooth;
}

body {
    font-family: Quicksand, sans-serif;
    vertical-align: middle;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.d.block {
    display: block;
}

body#sign-page {
    background-color: #4caf50;
}

.modal-footer>button:hover,
a:hover {
    text-decoration: none;
    font-weight: bolder;
}

top-nav nav a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

top-nav nav .brand-logo {
    position: relative;
    font-size: 4vw;
}

sign-page>:only-child {
    position: relative;
    top: 5vh;
}

sign-page .card {
    border-radius: 22px;
    background-color: #fff;
}

img.circle {
    width: 100%;
    object-fit: cover;
}

img.logo {
    height: 5em;
    width: auto;
}

sign-page .card .card-image img {
    border-radius: 22px 22px 0 0;
}

sign-page .card .card-content {
    border-radius: 22px 22px 0 0;
    position: relative;
    top: -20px;
    background-color: #fff;
}

sign-page *>a:hover {
    font-weight: bolder;
}

sign-page *>a.btn:hover {
    color: #fff;
}

form .form-title>h5 {
    text-align: center;
}

form .form-title>p {
    text-align: left;
    padding: 25px;
}


/*sidenav customization*/

.sideEffect {
    padding-left: 300px;
}

a#sidenav-burger-wide {
    margin: 0 18px;
}

side-nav li>a>.fa,
side-nav li>a>.fas,
side-nav li>a>.far {
    font-size: 23px;
}

.input-field .fa,
.input-field .fas,
.input-field .far {
    font-size: 1.5rem;
}

.smoothly {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

dash-board>* .m6 .card {
    min-height: 45vh;
}

dash-board>* .m12 .card {
    min-height: 100vh;
}

dash-board>* .card-title {
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
}

dash-board .card h1,
dash-board .card h2,
dash-board .card h3,
dash-board .card h4,
dash-board .card h5,
dash-board .card h6 {
    font-weight: bolder;
}

kartu-tanda-anggota .row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1vh 2vh;
}

kartu-tanda-anggota #dataTeks {
    max-width: 400px;
}

kartu-tanda-anggota .rounded {
    border-radius: 15px;
}

kartu-tanda-anggota img.profil {
    width: 188px;
    height: 188px;
}

kartu-tanda-anggota h1,
kartu-tanda-anggota h2,
kartu-tanda-anggota h3,
kartu-tanda-anggota h4,
kartu-tanda-anggota h5 {
    font-weight: bolder;
    margin: 0.5rem;
}

kartu-tanda-anggota .col {
    padding: 0 3vw;
}

kartu-tanda-anggota .col>p {
    margin: 2vh!important;
    font-size: large;
}

kartu-tanda-anggota p.bold {
    font-weight: bolder;
}

.modal {
    border-radius: 20px;
}

.modal-l {
    width: 85%!important;
}

.modal-m {
    width: 70%!important;
}

.modal-member-view {
    margin-top: 10vh;
    font-size: large;
}

.modal-member-view img.rounded,
img.rounded {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    clip-path: circle(35% at 50% 50%);
}

#previewFoto {
    clip-path: circle(35% at 50% 50%);
}

.img-cropper {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.input-radio-inline,
.inline {
    display: inline;
}

@media only screen and (max-width: 992px) {
    header.sideEffect,
    main.sideEffect,
    footer.sideEffect {
        padding-left: 0;
    }
}

@media only screen and (min-width: 993px) {
    sign-page>:only-child>div {
        width: 50%;
    }
}

.white-text>.btn-flat {
    color: #fff!important;
}